* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #B3B3B3;
    font-family: 'Oswald';
    font-weight: 400;
}

.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.imgEtexto {
    text-align: center;
    font-size: 2.2rem;
    margin-right: -5.7rem;
}

.imgEtexto a {
    color: #0804D4;
    font-weight: 600;
    text-decoration: none;
}

.imgEtexto a:hover {
    color: blue;
}

.imgEtexto p {
    margin-top: -1rem;
}

.imgEtexto img {
    width: 45rem;
}

.dino img {
     width: 40rem;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column-reverse;
    }

    .dino img {
        width: 20rem;
    }

    .imgEtexto img {
        width: 22rem;
        margin-top: -5rem;
    }

    .imgEtexto p {
        font-size: 1.5rem;
        word-wrap: break-word;
        margin-top: 0rem;

    }

    .imgEtexto {
        margin-right: 0px;
    }

}

