{% load static %}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.blocoHero h1 {
    font-weight: 500;
    font-size: 10rem;
    color: #FEFAE0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blocoHero p {
    font-weight: 300;
    margin-top: -25px;
    font-size: 3rem;
    color: #99ac5d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn.heroBotao {
    background: #99ac5d;
    border: none;
    border-radius: 20px;
    width: 6rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #FEFAE0;
}

.conteudo {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.textoCaixaConteudo {
    width: 50rem;
    height: 200vh;
    background: rgba(217, 217, 217, 0.50);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.textoCaixaConteudo h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    color: #99ac5d;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.textoCaixaConteudo p {
    font-size: 1.7rem;
    word-wrap: break-word;
    color: black;
}

.conteudoDesmatamento {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.textoCaixaConteudoDesm,.textoCaixaConteudoDesm2 {
    width: 50rem;
    height: 30rem;
    padding: 3rem;
    background: rgba(217, 217, 217, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    border-radius: 20px;
    color: #FEFAE0;
    word-wrap: break-word;
    text-align: center;

}

.textoCaixaConteudoDesm h3, .textoCaixaConteudoDesm2 h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.textoCaixaConteudoDesm p, .textoCaixaConteudoDesm2 p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
}

.conteudoDesmatamento2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.textoCaixaConteudoDesm2 {
    margin-right: 0;
}
.conteudoDesmatamento2 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.filme {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.caixaFilme {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    color: white;
}

.caixaFilme img{
    width: 300px;
    -webkit-box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.56);
}


.filmeDesc {
    color: white;
    width: 50%;
    font-size: 1.3rem;
}

.chamadaForum1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
}

.card-footer {
    color: white;
}

.chamadaForum1 .chamadaForumTexto h3{
    word-wrap: break-word;
    color: #FEFAE0;
    font-size: 3rem;
}

.chamadaForum1 .chamadaForumTexto p{
    word-wrap: break-word;
    color: white;
    width: 100%;
    font-size: 1.7rem;
}

.chamadaForum1 .chamadaForumTexto {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.chamadaForum1 .chamadaForumImg {
    margin-right: 2rem;
}

@media (max-width: 900px) {
    .blocoHero h1 {
        font-size: 3rem;
    }

    .blocoHero p {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .textoCaixaConteudo {
        width: 100%;
        padding: 2rem;
    }

    .textoCaixaConteudoDesm,.textoCaixaConteudoDesm2 {
        width: 100%;
        margin-right: 0;
        height: 100vh;
        border-radius: 0;
        padding: 2rem;
    }

    .textoCaixaConteudo p, .textoCaixaConteudoDesm p, .textoCaixaConteudoDesm2 p, .chamadaForum1 .chamadaForumTexto p {
        font-size: 1.3rem;
    }

    .textoCaixaConteudo.primeira h3{
        margin-top: 70px;
    }

    .textoCaixaConteudoDesm h3, .textoCaixaConteudoDesm2 h3, .chamadaForum1 .chamadaForumTexto h3 {
        font-size: 1.7rem;
    }

    .conteudoDesmatamento2 svg {
        display: none;
    }

    .filmeDesc {
        width: 90%;
     }

     .caixaFilme img{
        width: 200px;
      }

    .chamadaForum1 {
        flex-direction: column;
        height: 90vh;
        text-align: center;
    }

    .chamadaForum1 img {
        width: 50%;
        margin-bottom: 2rem;
    }

    .chamadaForum1 .chamadaForumImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }

    .chamadaForum1 .chamadaForumTexto {
        width: 90%;
    }
}