{% load static %}


<!--cabeçalho logado e não logado num só, o css tb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> Clean Up </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/_cabecalho.css' %}">
</head>
<body>


    <header>
        <h2 class="logo"> Logo </h2>
        <nav class="navigation">
            {% if user.is_authenticated %}
                <ul>
                    <li class="nav">
                        <a href="/" > Home </a>
                    </li>
                    <li class="nav">
                        <a> Conteúdos </a>
                    </li>
                    <li class="nav">
                        <a href="/contato" > Contato </a>
                    </li>
                    <li>
                        <a class="minhaConta" href="/minhaConta/{{dbs.id}}"> Minha Conta </a>
                        <ul>
                            <li>
                                <a href="/minhaConta/{{dbs.id}}"> Editar </a>
                            </li>
                            <li>
                                <a href="/sair"> Sair </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            {% else %}
                <a href="/" > Home </a>
                <a href="/contato/" > Contato </a>

                <button class="btnLogin-popup"> Login </button>
            {% endif %}

        </nav>
    </header>
    <div style="left: 50%;; margin-top: 100px; z-index: 2; position: absolute">
        {{ form.error }}
    </div>

    <div class="wrapper desativado">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2> Login </h2>
            <form name="form" id="form2" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="text" name="username" id="email" required>
                    <label> Username </label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>

                    <input type="password" name="senha" id="password" required>
                    <label for="password"> Senha </label>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" name="" id=""> Lembrar meu usuário
                    </label>
                    <a href="#"> Esqueci minha senha </a>
                </div>
                <input type="submit" class="btn btnHeader" value="logar">
                <div class="login-register">
                    <p> Não tem uma conta?
                        <a href="#" class="register-link"> Cadastre-se</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2> Cadastro </h2>
            <form name="form" id="form" method="post" action="{% url 'create' %}">
                {% csrf_token %}

                 <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" placeholder="Nome" name="username">
                 <!--   {{form.nome}}-->
                    <label> Nome </label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" placeholder="Email" name="email">
                 <!--
                    {{form.email}} -->
                    <label> Email </label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" placeholder="Senha" name="senha">
                    <label> Senha </label>
                   <!--  {{form.senha}} -->
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" name="" id=""> Eu concordo com os termos
                    </label>
                </div>
                <input type="submit" class="btn btnHeader" value="Salvar">
                <div class="login-register">
                    <p> Já tem uma conta?
                        <a href="#" class="login-link"> Entre aqui</a>
                    </p>
                </div>
            </form>
        </div>
    </div>



    <script src="{% static '/js/home.js' %}"></script>

    <!-- pros icones -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>