{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CleanUp </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/_cabecalho.css' %}">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3776522,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
<body>

    <header class="header">
        <img class="logo" style="max-width:8rem;" src="{% static 'img/logo.png' %}" alt="">
        <div class="menuResponsivo">
            <button class="hamburguer"> </button>
        </div>
        <nav class="navigation"> <!--nav-->
            {% if user.is_authenticated %}
                <ul>
                    <li class="nav">  <!--navlist-->
                        <a href="/desmatamento" > Home </a>
                    </li>
                    <li class="nav">
                        <a href="/conteudos"> Conteúdos </a>
                    </li>
                    <li class="nav">
                        <a href="/contato" > Contato </a>
                    </li>
                    <li class="nav">
                        <a class="minhaConta" href="/minhaConta/{{dbs.id}}"> Minha Conta </a>
                        <ul>
                            <li class="buttonEditar">
                                <a href="/minhaConta/{{dbs.id}}"> Editar </a>
                            </li>
                            <li>
                                <a href="/sair"> Sair </a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav">
                        <a class="botaoSair" href="/sair"> Sair </a>
                    </li>

                </ul>

            {% else %}
                <ul>
                    <li class="nav">
                        <a href="/desmatamento/" > Home </a>
                    </li>
                    <li class="nav">
                        <a href="/contato/" > Contato </a>
                    </li>
                    <li class="nav">
                        <a class="btnLogin-popup"> Login </a>
                    </li>
                </ul>
            {% endif %}

        </nav>
    </header>
    <div style="left: 50%;; margin-top: 100px; z-index: 2; position: absolute">
        {{ form.error }}
    </div>

    <div class="wrapper desativado">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2> Login </h2>
            <form name="form" id="form2" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="text" name="username" id="email" required>
                    <label> Username </label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>

                    <input type="password" name="senha" id="password" required>
                    <label for="password"> Senha </label>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" name="" id=""> Lembrar meu usuário
                    </label>
                    <a href="{% url 'password_reset' %}"> Esqueci minha senha </a>
                </div>
                <input type="submit" class="btn btnHeader" value="logar">
                <div class="login-register">
                    <p> Não tem uma conta?
                        <a href="#" class="register-link"> Cadastre-se</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2> Cadastro </h2>
            <form name="form" id="form" method="post" action="{% url 'create' %}">
                {% csrf_token %}

                 <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text"  name="username" id="username">
                 <!--   {{form.nome}}-->
                    <label for="username"> Username </label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email"  name="email" id="emailcad">
                    <label for="emailcad"> Email </label>
                 <!--
                    {{form.email}} -->

                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password"  name="senha" id="senha">
                    <label for="senha"> Senha </label>
                   <!--  {{form.senha}} -->
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" name="" id=""> Eu concordo com os termos
                    </label>
                </div>
                <input type="submit" class="btn btnHeader" value="Salvar">
                <div class="login-register">
                    <p> Já tem uma conta?
                        <a href="#" class="login-link"> Entre aqui</a>
                    </p>
                </div>
            </form>
        </div>
    </div>



    <script src="{% static '/js/home.js' %}"></script>

    <!-- pros icones -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>