{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CleanUp - Conteudos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '/css/conteudos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/breadcrumb.css' %}">
</head>
<body>
    {% include '_cabecalho.html' %}

    <nav class="meubreadcrumb">
        <ol class="bread" >
            <li><a href="/desmatamento/"> Home </a></li>
            <li> > </li>
            <li class="atual"> Conteúdos </li>
        </ol>
    </nav>

    <h1 class="titleConteudos"> Conteúdos </h1>
    <div class="chamada">
        <div class="globo"></div>
        <div class="chamadaForum">
            <div>
                <h2> Acesse o fórum atual </h2>
                <p> No nosso fórum acontece discussões ainda mais interessantes, com dicas, perguntas, opiniões e compartilhamento de outras informações. Você está mais do que convidado a participar e será bem recebido por todos. Faremos o possível para que isso aconteça. Faça parte da rede. </p>
            </div>
            <a href="/forum/" class="btn btn-success"> Acessar </a>
        </div>
    </div>

    <main>
        <div class="conteudos">
            <div class="nossasPaginasTexto">
                <h2> Nossas páginas: </h2>
            </div>
            <div class="cardsPaginas">
                <div class="card" style="width: 18rem;">
                  <img src="{% static '/img/fundoFloresta.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Desmatamento </h5>
                    <p class="card-text"> A espera acabou. O tema sobre desmatamento está aqui, acesse e saiba mais sobre esse fenômeno. </p>
                    <a href="/desmatamento/" class="btn btn-primary"> Ir até a página </a>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <img src="{% static '/img/dinossaurinho.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Página ainda não criada </h5>
                    <p class="card-text"> Plante uma árvore, pegue um café e aguarde. Estamos trabalhando na criação desse conteúdo no momento. </p>
                    <a href="/teste404/" class="btn btn-primary"> Ir até a página </a>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <img src="{% static '/img/dinossaurinho.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Página ainda não criada </h5>
                    <p class="card-text"> Plante uma árvore, pegue um café e aguarde. Estamos trabalhando na criação desse conteúdo no momento. </p>
                    <a href="/teste404/" class="btn btn-primary"> Ir até a página </a>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <img src="{% static '/img/dinossaurinho.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Página ainda não criada </h5>
                    <p class="card-text"> Plante uma árvore, pegue um café e aguarde. Estamos trabalhando na criação desse conteúdo no momento. </p>
                    <a href="/teste500/" class="btn btn-primary"> Ir até a página </a>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <img src="{% static '/img/dinossaurinho.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                       <h5 class="card-title"> Página ainda não criada </h5>
                       <p class="card-text"> Plante uma árvore, pegue um café e aguarde. Estamos trabalhando na criação desse conteúdo no momento. </p>
                       <a href="/teste500/" class="btn btn-primary"> Ir até a página </a>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <img src="{% static '/img/dinossaurinho.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Página ainda não criada </h5>
                    <p class="card-text"> Plante uma árvore, pegue um café e aguarde. Estamos trabalhando na criação desse conteúdo no momento. </p>
                    <a href="/teste500/" class="btn btn-primary"> Ir até a página </a>
                  </div>
                </div>

            </div>
        </div>

    </main>

    {% include 'footer.html' %}

</body>
</html>