{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CleanUp - Contato </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/contato.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumb.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    {% include '_cabecalho.html' %}

    <main>
        <nav class="meubreadcrumb">
          <ol class="bread" >
            <li><a href="/desmatamento/"> Home </a></li>
            <li> > </li>
            <li class="atual"> Contato </li>
          </ol>
        </nav>

        <div class="sobre">
            <h1> Contato </h1>
            <div class="sobreTextoImagem">
                <div>
                    <p>  A CleanUp tem o intuito de trazer mais conhecimento sobre o mundo, sobre a natureza e sobre o poder de mudança. Ressaltamos que, a mudança começa com cada um de nós e não tem problema nenhum não saber tanto sobre esse assunto. Nosso intuito, além de ajudar a Terra, é te ajudar, por isso, qualquer dúvida, comentário ou feedback será recebido com muito carinho pela nossa equipe. Preencha os campos abaixo e converse com a gente.  </p>
                </div>
                <div class="imgContato" >
                        <img src="{% static '/img/contato.png' %}" alt="">
                </div>

            </div>
            <div class="flecha">
                <img src="{% static '/img/setaBaixo.png' %}" alt="">
            </div>
        </div>

        <div class="formulario">
            <h2> Título form </h2>
            <form action="/enviaemail/" method="POST">
                {% csrf_token %}
                <div>
                    <label for="nome" class="form-label"> Nome </label>
                    <input class="form-control" type="text" name="name" id="nome">
                </div>
                <div>
                    <label for="email" class="form-label"> Email </label>
                    <input class="form-control" type="email" name="email" id="email">
                </div>
                <div>
                    <label for="mensagem" class="form-label"> Mensagem </label>
                    <textarea class="form-control" name="message" id="mensagem" cols="30" rows="5"></textarea>
                </div>
                <div class="botao">
                    <input class="btn btn-success" type="submit" value="Mandar">
                </div>

                <input type="hidden" name="_subject" value="Deu Certo!">
                <input type="text" name="_honey" style="display:none">
                <input type="hidden" name="_next" value="https://http://127.0.0.1:8000/minhaConta.html">
            </form>
        </div>
    </main>

    {% include 'footer.html' %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>