{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
</head>
<body>

    <footer class="footer">
        <div class="conteudoFooter">
            <div class="fraseEfeitoFooter">
                <h2> Busque entender mais e <br> mude o mundo. </h2>

            </div>
            <ul class="linksFooter">
                <li>
                    <h3> Links </h3>
                </li>
                <li>
                    <a href="/conteudos/"> Conteúdos </a>
                </li>
                <li>
                    <a href="/forum/"> Fórum Atual </a>
                </li>
                <li>
                    <a href="/contato/"> Fale com a gente </a>
                </li>
                <li>
                    <a href="/"> Home </a>
                </li>
            </ul>
            <div class="logoFooter">
                <img src="{% static '/img/logo.png' %}" alt="">
            </div>
        </div>
        <div class='brancoCopyright'>
            &#169
            2023 - Todos os direitos reservados
        </div>
    </footer>

</body>
</html>