{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CleanUp - Email Enviado </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/recuperarSenha/resetSenhaDone.css' %}">
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
</head>
<body  class="text-center" cz-shortcut-listen="true">

    <main class="form-signin mainReset">
        <div>
            <img src="{% static '/img/logo.png' %}" alt="logo cleanup">
        </div>
        <div>
            <div class="textoReset">
                <h1> Esqueceu sua senha? </h1>
                <p class="">
                    Te enviamos um email com algumas instruções e um link para redefinição de senha.
                </p>
                <p>
                    Dá uma olhada na tua caixa de entrada, e no spam, daqui um tempinho você deve estar recebendo ele.
                </p>
                <p>
                    :)
                </p>
            </div>
        </div>
    </main>
</body>
</html>