
* {
    font-family: 'Oswald', sans-serif;
}

body {
    background: #ffffff;
    color: white;
}

.teste {
    width: 50%;
    height: 100vh;
}

.pesquisa {
    border-radius: 20px;
}

.tituloECriacao {
    margin-top: 10rem;
}

button.adicionaForum {
    max-width: 50px;
    padding: 1.2rem;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Oswald';
}

nav.meubreadcrumb {
    position: absolute;
    top: 5rem;
    left: 3.5rem;
    width: 50%;
}

.bread {
    list-style: none;
    display:flex;
    flex-direction: row;
    color: white;
}

.bread li {
    margin-right: 1rem;
}

.bread .atual {
    color: #606c38
}

.bread a{
    text-decoration: none;
    color: white;
}

.bread a:hover{
    color: #606c38;
}

.category {
    background-color: #000000;
}

.forum-col {
    min-width: 256px;
}

.last-post-col {
    min-width: 192px;
}

.title {
    margin-top: 100px;
}

.breadcrumb, .teste {
    width: 30em;
}

textarea {
    width: 100%; /* Define a largura como 100% do elemento pai */
    height: 70px; /* Define uma altura fixa (ajuste conforme necessário) */
    border-radius: 10px; /* Adiciona uma borda para melhorar a aparência */
    padding: 5px; /* Adiciona um preenchimento interno para afastar o texto das bordas */
    font-size: 16px; /* Define o tamanho da fonte */
    border: 1px solid;
    /* Outros estilos desejados */
}

id_titulo {
    border-radius: 10px;
}

.botoesForum {
    margin: 10px;
}

.botoesForum .btn {
    margin: 5px;
}

input[type="text"] {
    border-radius: 10px; /* Adiciona uma borda para melhorar a aparência */
    padding: 5px; /* Adiciona um preenchimento interno para afastar o texto das bordas */
    font-size: 16px; /* Define o tamanho da fonte */
    border: 1px solid;
}

form input.pesquisaForum {
    width: 400px;
    margin: 20px 0;
    border: 1px solid #808080;
    border-radius: 40px;
}

form span {
    width: 30px;
}




.pesquisa {
    max-width: 100px;
}